.contia {
    width: 40%;
    margin: auto auto auto auto;
    background-color: #fab1a0;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

#ans {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}